#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 75%;
    /* The width is the width of the web page */
}


.content-image{
    width: 100%;
    height: 500px;
}
.img-box {
    position: absolute;
    height: 20%;
    width: 50%;
    left: 25%;
    top: 22.5%;
    background-color: red;
    opacity: 0.6;
}

.img-box-content {
    position: relative;
    justify-content: center;
    text-align: center;
    color: white;
    padding: 7.5%;
}

.submit-button {
    padding: 10px;
    border-radius: 10px;
    border-width: 10px;
    font-size: 20px;
    background-color: lightblue;
}

button:hover {
    background-color: grey;
}

#footer1 {
    height: 10%;
}

.copyright {
    background-color: rgba(255, 0, 0, 0.6);
    color: white;
    padding: 10px;
}