#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
}

#profilephoto {

    height: 275px;
    /* The height is 400 pixels */
    width: 200px;
    /* The width is the width of the web page */

}


.parallax {
    background-image: url(../images/WH-Image.jpg);
     /* Set a specific height */
    min-height: 1000px; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Centers the text box to the cover image*/

.thumbnail {
    position: relative;
    display: inline-block;
    width: 100%;
}

/*Set font, and adjusts text box on the image*/
.img-text-box {
    position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
    font-family: Georgia, 'Times New Roman', Times, serif, 'Times New Roman', Times, serif;
    text-align: center;
    color: white;
    background-color: rgba(255, 0, 0, 0.747);
    padding: 5%;
}

.btn {
    margin-right: 5px;
    margin-bottom: 5px;
}


button:hover {
    background-color: grey;
}



/* defines container of the copyright section */

.copyright {
    background-color: rgb(23, 175, 212);
    color: white;
    padding: 10px;
}


  /* on desktop the titles font will be larger */

@media screen and (min-width: 601px) {
    a.navTitle {
      font-size: 30px;
    }
  }
  
@media screen and (max-width: 600px) {
    a.navTitle {
      font-size: 15px;
    }
  }

  /* on mobile the footer text will center */
  @media screen and (max-width: 787px) {
    .mobile-center{
        float:none !important;
        margin: 0 auto;
        margin-bottom: 30px;
        padding-left: 60px;
        text-align: center;
        }
    }